<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>034L07E05.md</key>
			<dict>
				<key>lastModification</key>
				<real>537376520.57951605</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>034draft.md</key>
			<dict>
				<key>lastModification</key>
				<real>537376651.13925803</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>180111meeting.md</key>
			<dict>
				<key>lastModification</key>
				<real>537376569.47605503</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>234L07E05.md</key>
			<dict>
				<key>lastModification</key>
				<real>537376533.45536494</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>537376438.03921497</real>
				<key>version</key>
				<dict>
					<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>034L07E05.md</string>
		</array>
		<array>
			<string>234L07E05.md</string>
		</array>
		<array>
			<string>180111meeting.md</string>
		</array>
		<array>
			<string>034draft.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ca032b4df720a05a7ab26e66a568ac3b97ca155633fef28a3d941bef7c781c13</key>
			<integer>18</integer>
		</dict>
	</dict>
</dict>
</plist>
